<form action="{{ path('project_register') }}" method="post">
    First name:<br>
    <input type="text" name="name" ><br>
    Last name:<br>
    <input type="text" name="lastname" ><br><br>
    <input type="submit" value="Submit">
</form>